
@media(max-width: 768px){
    .menu{
        width: 50px;
        left: 80;
        padding-top: 10px;
    }
    .menu__hamburger{
        display: flex;
        flex-flow: column;
        width: 40px;
    }
    .menu__text{
        display: none;
    }
}