/*persons*/
.person{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-bottom: 5vh;
    margin-bottom: 5vh;
}
.person h5{
    color: rgb(100, 100, 100);
    font-size: 0.7em;
}
.person img{
    height: 400px;
}
.person p{
    padding: 15px;
    text-align: justify;
}
.person a{
    color: #fff;
}

@media(max-width: 1415px){
    .line{
        border-bottom: 1px solid;
    }
    }